

body{
    padding:40px 97px;
    color:#3e3e3e;
    display: grid;
    width:innerWidth;
    font-family:Verdana;
}


.name{
    margin-bottom:50px;
    width:100%;
}

#JialuoYang{
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#2AAE57;
}

.rightPart{
    margin-left:25vw;
    margin-right:1vw;
    width:calc(100%-26vw);
}

@media screen and (max-width:1000px){
    .floatingIndex{
        opacity:0;
        visibility: hidden;
        height:0;
    }

    .rightPart{
        margin-left:0;
    }
}
.floatingIndex{position:fixed;}

.rightPart div{
    width:100%;
}
.indexSection{
    height:50px;
}

.researchSection{
    margin-bottom:50px;
}
.projectSection{
    margin-bottom:50px;
    height:40px;
}
.introduction{
    width:100%;
    height:auto;
    margin-bottom:50px;
}

#role{
    font-size:1.1vw;
}
p{
    font-size:1vw;
    color:#5e5e5e;
}

.researchIntro{
    font-size:0.9vw;
    color:#5e5e5e;
}



.oneResearch{
    width:100%;
    height:auto;
    margin-bottom:50px;

}
.researchPic{
    width:30%;
    height:auto; 
    margin-right:10px;
    float:left;
}
#Gloove img{width:100%;height:auto;}
#KayaGo img{width:100%;height:auto;}
#PaperCrafting img{width:100%;height:auto;}
#ColorForShih-Ching img{width:100%;height:auto;}
#Lemonbox img{width:100%;height:auto;}
#Grocipe img{width:100%;height:auto;}
#CityHealthBook img{width:100%;height:auto;}
#Surprite img{width:100%;height:auto;}
#Flowind img{width:100%;height:auto;}
#KayaGo img{width:100%;height:auto;}

.sectionTitle{
    padding-top:10px;
    /* margin-left:30px; */
}
.sectionIcon{
    width: 40px;
    height:40px;
    float:left;
    margin-right:20px;
}


.researchTitle div{
    font-weight: bold;
    margin-bottom:20px;
}
.portrait{
    width:180px;
    height:180px;
    padding-bottom:36px;
}
.socialMedia img{
    width: 30px;
    height:30px;
    /* padding-top:10px; */
    padding-right:10px;
}

.projectBlock{
    width:60%;
    height:auto;
    padding-bottom:50px;
}

a{
    color:black;
    text-decoration: none;
}

a :hover{
    color:#2AAE57;
}